<div class="container one-piece-theme text-center">
  <div routerLink="cars" class="alert alert-info" role="alert" style="background-color: #E63946;">
    <strong><span style="color: white;">TÜM RENKLER</span></strong>
  </div>
  <select
    class="form-select custom-select"
    *ngIf="colorLoaded"
    [(ngModel)]="selectedColor"
    aria-label="Renk seçiniz"
  >
    <option [ngValue]="null">Renk seçiniz</option>
    <option
      *ngFor="let color of colors | colorFilter : filterText"
      [ngValue]="color.id"
    >
      {{ color.name }}
    </option>
  </select>
  <div class="mt-3">
    <button
      class="btn btn-danger"
      (click)="filterColor()"
      routerLink="car/color/{{ selectedColor }}"
    >
      Filtrele
    </button>
  </div>
</div>
