/* Özelleştirilmiş Select Kutusu */
.custom-select {
  background-color: #f8f9fa; /* Arka plan rengi */
  border: 1px solid #ced4da; /* Kenarlık rengi */
  border-radius: 5px; /* Kenar yuvarlatma */
  color: #495057; /* Metin rengi */
  padding: 10px; /* İç boşluklar */
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.custom-select option {
  background-color: #ffffff; /* Seçeneklerin arka plan rengi */
  color: #000000; /* Seçeneklerin metin rengi */
}

.custom-select:hover,
.custom-select:focus {
  background-color: #e9ecef; /* Fare üzerine gelindiğinde ve odaklandığında arka plan rengi */
  border-color: #adb5bd; /* Fare üzerine gelindiğinde ve odaklandığında kenarlık rengi */
}

/* Daha Şık Seçeneklerin Stili */
.custom-select select {
  appearance: none; /* Tarayıcı varsayılan stillerini kaldır */
  width: 100%; /* Tam genişlik */
  padding: 10px; /* İç boşluklar */
  font-size: 16px; /* Metin boyutu *//* Aşağı ok simgesi ekleyebilirsiniz */
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 20px 20px;
}

/* Aşağı Ok Simgesinin Rengi */
.custom-select select::-ms-expand {
  color: #495057;
}

/* Hover ve Odaklandığında Daha Şık Görünüm */
.custom-select select:hover,
.custom-select select:focus {
  background-color: #e9ecef; /* Fare üzerine gelindiğinde ve odaklandığında arka plan rengi */
  border-color: #adb5bd; /* Fare üzerine gelindiğinde ve odaklandığında kenarlık rengi */
}

.brand-text {
  color: #E63946; /* Kırmızı renk */
}
