<div class="text-center text-bg-dark p-1">
    <b>Kiralamalar</b>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">CarColorName</th>
      <th scope="col">CarBrandName</th>
      <th scope="col">CustomerFullName</th>
      <th scope="col">CarName</th>
      <th scope="col">Model</th>
      <th scope="col">Description</th>
      <th scope="col">ReturnDate</th>
      <th scope="col">RentDate</th>
    </tr>
  </thead>
  <tbody >
    <tr *ngFor="let rental of rentals">
        <td>{{rental.id}}</td>
        <td>{{rental.brandName}}</td>
        <td>{{rental.firstName}}</td>
        <td>{{rental.lastName}}</td>
    </tr>
</table>