
<div class="container">

  <app-navi></app-navi>
  <div class="row">
    <div class="col-md-2">
      <app-brand></app-brand>
      <app-color></app-color>
      <app-customer></app-customer>
    </div>
    <div class="col-md-10">
      <figure class="text-center">
        <blockquote class="blockquote">
          <p>ALL CARS</p>
        </blockquote>
    </figure>
      <app-car></app-car>
      <figure class="text-center">
          <blockquote class="blockquote">
            <p>ALL RENTALS</p>
          </blockquote>
      </figure>
      <app-rental></app-rental>
    </div>
   
    
  </div>
  
</div>

<router-outlet></router-outlet>