<div class="container">
  <div *ngIf="dataLoaded == true" class="my-2">
      <ul class="list-group" style="width: 175px;">
          <li class="list-group-item active bg-primary text-center">Tüm Müşteriler</li>
          <ng-container *ngFor="let customer of customers">
              <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                  <strong>{{ customer.companyName }}</strong>
              </li>
          </ng-container>
      </ul>
  </div>
</div>
